extends parts/layout.pug
block variables
    - var TITLE = 'First Pug Document'
    - var BODY_CLASSES = 'bg-blue-100 h-screen flex justify-center'

block content
    h1.text-5xl.self-center Hello World

    